[MASTER]
ignore-paths=.*/migrations

[MESSAGES CONTROL]

disable=missing-module-docstring,
        missing-function-docstring,
        import-error,
        wrong-import-position,
        too-few-public-methods,
        unnecessary-pass,
        wrong-import-order

